// Colors

$c_girl: #E42B76;
$c_girl_dark: #a00b47;
$c_boy: #0386BE;
$c_boy_light: #48afdb;
$c_boy_dark: #015f87;
$c_grey: #888;
$c_grey_light: #AAA;
$c_neut: #AAFFBD;
$c_select: #FBFFAA;

$c_text_dark: #555;
$c_white: #FFF;
$c_black: #000;
$c_white_off: #EEE;
$c_light_grey: #AAA;
$c_black_trans: rgba(0,0,0,.5);
