// Flair stuff.

.rad-tl {
    border-top-left-radius: 0.75em;
}

.rad-tr {
    border-top-right-radius: 0.75em;
}

.rad-br {
    border-bottom-right-radius: 0.75em;
}

.rad-bl {
    border-bottom-left-radius: 0.75em;
}
